@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.field {
	display: flex;
	flex-direction: column;
}

body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Nunito', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

label {
	color: #FFFFFF;
	background-color: transparent;
}

.submit {
	color: #FFFFFF;
	background-color: transparent;
	width: 100%;
	margin: 0 auto;
	padding: 8px 12px;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	font-size: 24px;
	transition: .5s;
}

.submit:hover {
	color: #666666;
	border: 1px solid #666666;
}

